<!DOCTYPE html>
<html lang="en">
<head>
    <title>Video Poker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body style="background-image: url('/static/poker.jpg'); background-repeat: no-repeat; background-size: cover">
<div class="row">
    <div class="col-sm">
        <div style="margin: 150px; color: white">
            <h1>Bienvenue au video poker</h1>
            <form method="post" action="/">
                <div class="form-group">
                    <label for="bankroll_id">Bankroll</label>
                    <input type="text" class="form-control" id="bankroll_id" name="bankroll"
                           placeholder="bankroll" style="width: 500px">
                </div>
                <div class="form-group">
                    <label for="bet_id">Your bet</label>
                    <input type="text" class="form-control" id="bet_id" placeholder="bet" name="bet"
                           style="width: 500px">
                </div>
                <span style="color: red;">{{error}}</span><br/>
                <button type="submit" class="btn btn-primary">Start the game</button>
            </form>
        </div>

    </div>
    <div class="col-sm"></div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
</body>
</html>